@font-face{
    font-family: "SourceSansPro-Regular";
    src: url(../fonts/SourceSansPro-Regular.ttf);
}

@font-face{
    font-family: "SourceSansPro-ExtraLight";
    src: url(../fonts/SourceSansPro-ExtraLight.ttf);
}

@font-face{
    font-family: "open-sans.light";
    src: url(../fonts/open-sans.light.ttf);
}

body{
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    font-family: "open-sans.light";
    
    font-size: 17px;
    text-align: justify;
}

.conteiner {
    width: 1000px;
    margin: 0 auto;   
}

.area{
    width: 100%;
}


#logo{
    color: #000;
    font-size: 30px;
    margin-top: 10px;
}

#menu{
    margin-top: 10px;
    font-size: 18px;
}

<!-- 
     bug inexplicavel
     sab Deus porque mas
     isso aqui so funciona
     com o metodo duplicado
-->
<!-- mudando propriedades do bootstrap para o menu -->
#menu > ul > li > a:hover{
}

#menu > ul > li > a:hover{
    background: none;
    border-bottom: solid 6px;
    border-radius: 0px;
    border-color: #277aad;
}


.infoGeoBra{
    width: 900px;
    height: 590px;
    background-color: #000;
    margin: 0 auto;
    text-align: center;
    opacity: 0.8;
}



/*    
/    AREA DESTINADA A CONFIGURAR A POSIÇÃO DOS LOCAIS
*/

.localMenu{
    height: 70px;
    background: #fff;    
    border-bottom: solid 1px #ccc;
    position: fixed;
    margin-top: 0px;
    z-index: 9999;
}

.localInicial{
    padding-top: 70px;
}

.localInicial {
    background-image: url(../img/mapaMundo.jpg);
    background-position: center;
    background-size: 1800px;
    min-height: 590px;  
}


.local-mapa-brasil {
    min-height: 590px;
}

.loca-sobre-projeto {
    min-height: 590px;
    background-color: #fff;
    padding-bottom: 60px;
}

.local-sobre-equipe{
    min-height: 590px;
}


/* FIM AREA DE LOCAIS */




/* CONF DOS LINKS INTERNOS*/
a[id="mapa"],
a[id="sobre"],
a[id="equipe"]{
    margin-top: -70px;
    position: absolute;
}





/* CONF DA AREA SOBRE A EQUIPE */
#sobre-equipe-imagens{
    margin-top: -30px;
    text-align: center;
    font-size: 27px;
    color: #428bca;
}

#sobre-equipe-imagens-info{
    color: #5d5d5d;
    font-size: 20px;  
    padding-bottom: 15px;
}

#sobre-equipe-imagens-info > b{
    color: #428bca;
}

#sobre-equipe img{
    width: 180px;
}
/* FIM EQUIPE */





.teste {
    width: 800px;
    position: absolute;
    margin-top: -520px;
    margin-left: 100px;
    font-family: "open-sans.light";
    font-size: 100px;
    text-align: center;    
    color: #fff;
    
}


<!-- 
.teste > input[type="text"]{
    width: 500px;
    height: 50px;
    border-radius: 100px;
    background: none;
    font-size: 30px;
    text-align: center;
    border: solid 2px;
}

.teste > input[type="button"]{
    padding-left: 40px;
    padding-right: 40px;
    height: 50px;
    border-radius: 100px;
    background: none;
    font-size: 30px;
    text-align: center;
    border: solid 2px;
}

.teste > select{
    width: 500px;    
    height: 50px;
    border-radius: 100px;
    background: none;
    font-size: 30px;
    text-align: center;
    border: solid 2px;
}
-->

/* CONF DOS PADDING INICIAL DAS AREAS */
#sobre-projeto, 
#sobre-equipe, 
#mapa-brasil{
    padding-top: 30px;
}


/* CONF DOS TITULOS DAS AREAS */
#titulo{
    text-align: center;
    font-family: "open-sans.light";
    font-size: 35px;
    padding-bottom: 75px;
}


.sub-titulo {
    font-size: 28px;
}

.local-rodape {
    height: 130px;
    background: #3e3e3e; /* Old browsers */
    background: -moz-linear-gradient(top,  #3e3e3e 0%, #565656 23%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e3e3e), color-stop(23%,#565656)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #3e3e3e 0%,#565656 23%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #3e3e3e 0%,#565656 23%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #3e3e3e 0%,#565656 23%); /* IE10+ */
    background: linear-gradient(to bottom,  #3e3e3e 0%,#565656 23%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e3e3e', endColorstr='#565656',GradientType=0 ); /* IE6-9 */

}
